@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Android";
  src: url("../fonts/idroid.otf") format("opentype");
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, verdana, helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}


main p {
   margin: 15px 0px; 
   text-align: justify;
   text-indent: 30px;
   font-size: 1em;
   line-height: 2em;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}
header > h1 {
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.116);
  font-weight: normal;
}

header > p {
  color: white;
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.116);
}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.185);
}
nav > a {
  color: var(--cor1);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
   background-color: var(--cor2);
   color: var(--cor5);
   border-radius: 5px;
   transition-duration: 0.5s;
}



main {
  background-color: white;
  min-height: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
  background-color: var(--cor1);
  padding: 2px 6px;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}



a.externo::after {
  content: '\00AD\1F517';
  padding: 1px;
}
 
.modelo {
  width: 100%;
  margin: auto;
  display: block;
}

.pequena {
  max-width: 350px;
  margin: auto;
  display: block;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.8em;
}

div.video {
  background-color: var(--cor5);
  margin: 10px -20px 30px -20px;
  position: relative;
  padding-bottom: 56.5%;
  position: relative;

}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

main h2 {
  font-family: var(--fonte-android);
  font-size: 1.3em;
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
  font-weight: normal;
  
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  padding: 5px;
  
}

aside {
  background-color: var(--cor1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.185);
  
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside > ul { 
   list-style-type: "\2714\00A0\00AD";
   list-style-position: inside;
   columns: 2;
   margin-top: 20px;
}



footer > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

aside > p {
  margin-top: 10px;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor2);
}
