 * {
  box-sizing: border-box; /* Evita problemas de largura */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



body {
  background-color: lightgray;
  line-height: 1.6;
}

header {
  background-color: gray;
  padding: 20px 0; /* Corrigido */
}

header h1 {
  text-align: center;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
  gap: 20px; /* Espaçamento entre os links */
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}



nav ul li a:hover {
  background-color: rgb(46, 45, 45);
  padding: 10px 20px;
  border-radius: 20px;
  color: yellow;
}

main {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

main h1, main h2 {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}