


body {
  background-image: linear-gradient(to right, #F1D8C9,#F2C3A7);
}

p {
  text-align: justify;
}

main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto; /* Centralizando, independente do formato da tela */
  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.068) ;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 0px black;
}
